<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>Vibe</string>
	<key>CFBundleIconName</key>
	<string>Vibe</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>VibeAppDocument</string>
			<key>CFBundleTypeName</key>
			<string>Vibe Application Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.dotvibe.vibe.vibeapp</string>
			</array>
		</dict>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://dolfin.github.io/vibe/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>IziMlGkYTpxirsLJHSjmTwpoSxPQHzEkEs5XxmP8tf8=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vibe Application Package</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>VibeAppDocument</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>app.dotvibe.vibe.vibeapp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vibeapp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
